.final-page{

margin:0;

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

background:
radial-gradient(circle at top,#31184c 0%,#111 45%,#000 100%);

font-family:Poppins,sans-serif;

color:white;

position:relative;

}

#particles{

position:absolute;

inset:0;

overflow:hidden;

}

.star{

position:absolute;

width:4px;

height:4px;

background:white;

border-radius:50%;

opacity:.7;

animation:float 8s linear infinite;

}

@keyframes float{

from{

transform:translateY(100vh);

}

to{

transform:translateY(-100px);

}

}

.hero{

position:relative;

z-index:2;

text-align:center;

}

.hero h1{

font-size:80px;

font-family:"Cormorant Garamond";

margin-bottom:20px;

}

.hero p{

font-size:22px;

opacity:.8;

line-height:2;

margin-bottom:40px;

}

.heart{

font-size:120px;

animation:beat 1s infinite;

filter:drop-shadow(0 0 30px crimson);

}

@keyframes beat{

0%{transform:scale(1);}

50%{transform:scale(1.15);}

100%{transform:scale(1);}

}

#replay{

margin-top:45px;

padding:18px 50px;

border:none;

border-radius:60px;

cursor:pointer;

font-size:18px;

background:
linear-gradient(90deg,#ffcf71,#ff8a47);

}

@media(max-width:768px){

.hero h1{

font-size:48px;

}

.hero p{

font-size:18px;

}

.heart{

font-size:90px;

}

}
